# Numbers

In [6]:
a = 10

In [7]:
b = 10.3

In [8]:
type(a)

int

In [9]:
type(b)

float

In [10]:
c =12

In [11]:
a*b

103.0

In [12]:
a/b

0.9708737864077669

In [13]:
a//b

0.0

In [14]:
d=34

In [15]:
d//a

3

In [16]:
d%a

4

In [17]:
2**3

8

# Strings

In [18]:
'Hello'

'Hello'

In [19]:
"Hello"

'Hello'

In [20]:
print ("Hello World!")

Hello World!

In [21]:
a="Kumaran"

In [22]:
a[3]

'a'

In [23]:
a[1:]

'umaran'

In [24]:
a[-1]

'n'

In [25]:
a[:-1]

'Kumara'

In [26]:
a[:]

'Kumaran'

In [27]:
a[::-1]

'naramuK'

In [28]:
a[::2]

'Kmrn'

In [29]:
a[::3]

'Kan'

In [33]:
a.count('a')

2

In [34]:
a.title()

'Kumaran'

In [38]:
a="kumaran systems"

In [39]:
a.title()

'Kumaran Systems'

In [40]:
a.format()

'kumaran systems'

In [42]:
a.find()

TypeError: find() takes at least 1 argument (0 given)

In [43]:
a.encode()

b'kumaran systems'

In [44]:
a='KuMaRan'

In [45]:
a.format()

'KuMaRan'

In [47]:
help(a.find())

TypeError: find() takes at least 1 argument (0 given)

In [49]:
a.find('a')

3

In [50]:
print(a)

KuMaRan

In [51]:
a="Kumaran System"

In [52]:
print(a)

Kumaran System

In [53]:
a.split('m')

['Ku', 'aran Syste', '']

In [54]:
'insert some value in the string : {}'.format('The formated String')

'insert some value in the string : The formated String'

In [56]:
'insert some value in the string : {} {} {}'.format(12,13,14)

'insert some value in the string : 12 13 14'

# List Objects

In [57]:
my_list=['a','b','c','d','e','f']

In [58]:
print(my_list)

['a', 'b', 'c', 'd', 'e', 'f']

In [59]:
my_list.append(1)

In [60]:
my_list

['a', 'b', 'c', 'd', 'e', 'f', 1]

In [62]:
my_list.pop()

1

In [63]:
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [64]:
my_list.pop()

'f'

In [65]:
my_list.append('f')

In [66]:
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [69]:
help(my_list.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [72]:
my_list.count('e')

1

In [73]:
my_list[::-2]

['f', 'd', 'b']

In [74]:
my_list[:1]

['a']

In [77]:
my_list=[[1,2,3],[4,5,6],[7,8,9]]

In [79]:
[row[1] for row in my_list]

[2, 5, 8]

# Dictionary

In [89]:
my_dict = {"key1":"value1","key2":2,"key3":[4,5,6], "key4":True}

In [90]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', 2), ('key3', [4, 5, 6]), ('key4', True)])

In [91]:
my_dict

{'key1': 'value1', 'key2': 2, 'key3': [4, 5, 6], 'key4': True}

In [92]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [93]:
my_dict.values()

dict_values(['value1', 2, [4, 5, 6], True])

In [94]:
type(my_dict.get('ke1'))

NoneType

In [95]:
my_dict('key1')

TypeError: 'dict' object is not callable

# Tuples

In [96]:
t=(1,2,3,4)

In [97]:
t.count(1)

1

In [98]:
t.index(1)

0

In [99]:
t[1]

2

In [100]:
a=(my_list)

In [101]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Sets

In [102]:
my_set={1,2,3,4,5,6,1,2,3}

In [103]:
my_set

{1, 2, 3, 4, 5, 6}

In [104]:
my_set.difference()

{1, 2, 3, 4, 5, 6}

In [105]:
my_set.difference_update()

In [106]:
my_set

{1, 2, 3, 4, 5, 6}

In [113]:
my_set.symmetric_difference('7')

{1, 2, 3, 4, 5, 6, '7'}

In [116]:
my_set.issuperset('2')

False

# Boolean

In [117]:
True

True

In [118]:
False

False

In [119]:
not True

False

In [121]:
not False

True